<html>
<head>
  <title>
    CARRIAGE admin interface
  </title>
</head>
<body>
  <h1>CARRIAGE admin interface</h1>
  Assignments:
  <ul>
    {{#assignments}}
      <li>{{name}}</li>
    {{/assignments}}
  </ul>
  </div>
</body>

</html>
